*.sch-bak
*.lib
*.xml
*.code-workspace
*.kicad_pcb-bak
fp-info-cache
To_the_moon-cache.lib
To_the_moon.sch-bak
.pio/
.vscode/
*.iml
*.idea/
*.aux
*.fdb_latexmk
*.fls
*.hst
*.log
*.out
*.synctex.gz
*.toc
*.ver
