/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.home-section{
  position: relative;
  float: left;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.5s ease;
  z-index: 2;
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.home-section-block-left{
  left: 80px;
  float: left;
  background: #fdfdfd;
  width: 40%;
  border-radius: 12px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 18px;

}

.home-section-block-right{
  float: right;
  background: #fdfdfd;
  width: 40%;
  border-radius: 12px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.below {
  float:center; 
  clear: left;
}